@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    overflow-y:scroll;
    overflow-x: hidden;
}
.imageCover {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.55) 1%, rgba(0,0,0,0.55) 9%, rgba(255,255,255,0) 28%, rgba(255,255,255,0) 74%, rgba(0,0,0,0.16572566526610644) 100%);
}

.item {
	border: 1px solid black;
	margin: 0 auto;
	padding: 48px;
    height: 300px;

}

.hover-underline-animation {
    position: relative;
  }
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #000a0f;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
