@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    overflow: scroll;
}
.imageCover {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.55) 1%, rgba(0,0,0,0.55) 9%, rgba(255,255,255,0) 28%, rgba(255,255,255,0) 74%, rgba(0,0,0,0.16572566526610644) 100%);



}